@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

html, body {
    height: 100%;
}
body {
    position: relative;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #efecf6;
}

#form-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    flex-direction: column;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#form-card {
    font-size: medium;
    align-self: center;
    max-width: 50%;
    background-color: #8157f4;
    padding: 20px;
    border-radius: 1.2rem;
    color: #fff;
    -webkit-box-shadow: 0px 13px 74px -15px rgba(129,87,244,1);
    -moz-box-shadow: 0px 13px 74px -15px rgba(129,87,244,1);
    box-shadow: 0px 13px 74px -15px rgba(129,87,244,1);
}

.submit {
    position: relative;
    z-index: 1;
    bottom: 15px;
}

.log-out {
    position: absolute;
    margin: 15px;
    top: 0px;
    right: 0px;
}


#class-select {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

#class-selection {
    width: 100%;
    box-sizing: border-box;
}

#date-input {
    width: 100%;
    box-sizing: border-box;
}

.file .file-label{
    width: 100%;
    box-sizing: border-box;
}